.statistics {
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 300px;
    border: solid 3px rgb(241, 233, 0);
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(5, 91, 149, 0.2), 0 4px 6px rgba(20, 18, 157, 0.2);
   
}

.title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.statsList {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
   
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.label {
    font-size: 16px;
    font-weight: 500;
    background-color: rgb(225, 173, 216);
}

.percentage {
    font-size: 18px;
    font-weight: 500;
    color: rgb(22, 25, 113);
}